/* -------------------------------- FEUILLE DE STYLE --------------------------------- */



/* COMMON ============================================================================================================================ */
*{ 
  box-sizing: border-box; /* pour tous les selecteurs, je veux que la taille de mes boites comprennent la bordure ET le padding -> car sinon, le padding s'AJOUTE à la taille initiale de boite */
}


body {
  margin: 0; /* j'enlève toutes les marges que le navigateur peut me mettre par défaut */
  font-family: 'Trebuchet MS', sans-serif;
}


.container {
  width: 960px;
  margin: 0 auto;
}


h1, h3 {
  text-transform: uppercase;
  color: #340038;
}


h1 {
margin-top: 0;
font-size: 1.875rem; /* 16px <=> 1rem */
text-align: center;
margin-bottom: 60px;
}


h2 {
  font-size: 2.5rem;
  font-weight: bold;
}


a
{
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}


img {
  display:block;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}




/* HEADER ============================================================================================================================ */
header {
  display: flex;
  flex-direction: column;
}


/* main_nav --------------------------------------------------------------------------------------*/

.main_nav {
  padding: 10px 0; /* padding de 30 en haut et en bas et 0 à gauche et droite */
  background-color: #340038;
  position: fixed; /* navbar fixe au scroll vertical */
  top:0; /* position de la fixation de la navbar, en haut */
  width: 100%; /* prend toute la largeur disponible */
  z-index: 100; /* je veux m'assurer que les autres éléments passent bien "dessous" */
  
}


.main_nav .container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.main_nav ul {
  display: flex;
}


.main_nav ul a {
  display: inline-block;
  padding: 0.5rem 0.25rem; /* permet d'augmenter la zone de réaction pour le clic-utilisateur */
  font-size: 1rem;
  color: #ffffff;
}


.logo_navbar a.logo_header {
  margin-left: 0px;
}


.main_nav ul a.active, .main_nav ul a:hover { /* état de bouton actif de la page puis au survol */
  border-bottom: 4px solid #EB1C36; 
}


.logo_navbar a.logo_header:hover {
  border-bottom: 0;
}


.main_nav .logo_navbar { /* je donne une dimension à ma div pour accueillir le logo en .svg */
  width: 150px;
  height: 79px;
}


.main_nav .logo_navbar a {
  padding: 0;
}


.fas fa-home {  /* import de l'icone "home" depuis site front awsome */
  color: #ffffff;
}


/* slider --------------------------------------------------------------------------------------------------*/

.slide {
  position: relative; 
  
}


.slide_img img { 
  width: 100%; /* on demande à l'image de s'étendre dans sa boite */
} 


.slide_title {
  position: absolute; /* je fais passer mon texte SUR l'image contenu dans le .slide */
  top: 250px;
  width: 100%;
}


.slide_title h1 {
  margin-bottom: 0;
  font-size: 2.2em;
  color: #EB1C36;
}


.slide_title .title {
  width: 50%;
  background: #ffffff;
  margin-left: auto;
  padding: 4.43rem 6.875rem;
}


/* section nos partenaires -------------------------------------------------------------------------------- */ 

.partenaires {
  background: url(../images/bg_resto.jpg) no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 80px;
}


.partenaires .partenaires_list {
  display: flex;
  justify-content: space-between;
}


.partenaires .resto {
  display: flex;
  flex-direction: column;
}


.partenaires .logo_cRoll {
  background-color: #ffffff;
  text-align: center;
}


.partenaires .logo { /* je donne une dimension aux div qui accueillent les logo en .svg */
  width: 310px;
  height: 310px;
}


.partenaires .txt {
  background-color: #ffffff80;
  width: 310px;
  padding: 10px;
  color: #340038;
  font-size: 0.875em;
  flex-grow: 1;
}


.partenaires .txt a {
  text-transform: uppercase;
  color: #AB1529;
  font-weight: bold;
  font-size: 1.125em;
}


.partenaires .txt p:nth-of-type(1) {
  margin-top: 0;
  font-weight: bold;
}



/* Procédure de commande ---------------------------------------------------------------------------------- */

.process {
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
  border-bottom: 5px solid #340038;
}


.etape {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.etape:nth-of-type(3) {
  padding-top: 0.5rem;
}


.etape_process {
  display: flex;
}


.etape img { /* je donne une dimension aux div qui accueillent les icones de process */
  width: 80px;
  height: 80px;
}


.etape p {
  font-weight: bold;
  color: #49841A;
  padding: 0.5rem;
  text-align: center;
}


.etape p:nth-of-type(1) {
  margin-top: 25px;
  margin-bottom:0;
  padding-bottom:0;
  font-size: 3em;
}


.etape p:nth-of-type(2) {
  margin-top:0;
  font-size: 1.125em;
}


.etape p:nth-of-type(3) {
  font-size: 1em;
  color: #340038;
}
  

.process h2 {
  font-size: 3.5em;
  color: #EB1C36;
  margin-top: 60px;
  margin-bottom: 0;
}

.process .note {
  margin-top: 0;
  font-style: italic;
  color:#340038;
}


/* section présentation ------------------------------------------------------------------------------------ */

.presentation {
  padding-top: 60px;
  padding-bottom: 80px;
}


.presentation article {
  display:flex;
  border-bottom: 2px solid #340038;
  margin-top: 60px;
}


.presentation article img {
  width: 33.33%;
}


.presentation article p , .presentation article h3 {
  padding: 1.875rem 1.875rem 0 1.875rem;
  color: #340038;
  margin: 0;
}


.presentation article p:nth-of-type(2) {
  padding-top: 0;
}


.presentation h3 span {
  text-transform: initial;
}


.presentation .valeur .color {
  color: #AB1529;
}


.presentation .valeur .italic {
  font-size: 1.125em;
  font-style: italic;
  font-weight: bold;
}


/* section temoignages ---------------------------------------------------------------------------------------- */

.temoignages {
  background-color: #E9D8BE;
  padding-top: 60px;
  padding-bottom: 120px;
}


.temoignages h1 {
  margin-bottom: 75px;
}


.temoignages .temoignages_article {
  display: flex;
}


.temoignages blockquote {
  flex-basis: 33.33%;
  margin: 0;
  color: #340038;
}


.temoignages_article p {
  margin-top: 0;
  padding: 0.875rem;
}


.temoignages cite {
  font-style: italic;
  font-weight: bold;
}


.icone_bulle { /* je donne une dimension à mes div qui accueillent les icones */
  width: 40px;
  height: 40px;
  background-image: url(../images/icone_bulle.svg);
  margin: 0 auto;
}


/* FOOTER =========================================================================================================================-- */

.page_footer {
  background-color: #340038;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.page_footer .container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 0.625em;
}


.footer_logo {
  display: flex;
  align-items: flex-end;
}


.logo_txt {
  padding-left: 0.625em;
}


.logo_txt p:nth-of-type(1) {
  margin-bottom: 0.075rem;
}

.logo_txt p:nth-of-type(2) {
  font-size: 1.2em;
  margin-top: 0.075rem;
  margin-bottom: 0.075rem;
}


.footer_nav {
  display: flex;
}


.page_footer .container p{
  margin-bottom: 0.075rem;
  margin-top: auto;
}


.footer_nav ul {
  display: flex;
  justify-content: space-between;
}


.footer_nav ul a {
  font-size: 0;
  color: #340038;
}

.footer_nav ul i{
  font-size: 2.5rem;
  color: #ffffff;
  margin-left: 2rem;
}
