/* -------------------------------- FEUILLE DE STYLE --------------------------------- */



/* COMMON ============================================================================================================================ */
*{ 
  box-sizing: border-box; /* pour tous les selecteurs, je veux que la taille de mes boites comprennent la bordure ET le padding -> car sinon, le padding s'AJOUTE à la taille initiale de boite */
}


body {
  margin: 0; /* j'enlève toutes les marges que le navigateur peut me mettre par défaut */
  font-family: 'Trebuchet MS', sans-serif;
}


.container {
  width: 960px;
  margin: 0 auto;
}


h1, h3 {
  text-transform: uppercase;
  color: #340038;
}


h1 {
  margin-top: 0;
  font-size: 1.875rem; /* 16px <=> 1rem */
  text-align: center;
  margin-bottom: 60px;
}


h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #340038;
}


a
{
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}


img {
  display:block;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: #340038;
}


/* MAIN NAV ========================================================================================================================== */

.main_nav {
  padding: 10px 0; /* padding de 30 en haut et en bas et 0 à gauche et droite */
  background-color: #340038;
  position: sticky; /* navbar fixe au scroll vertical */
  top:0; /* position de la fixation de la navbar, en haut */
  width: 100%; /* prend toute la largeur disponible */
  z-index: 100; /* je veux m'assurer que les autres éléments passent bien "dessous" */
  
}


.main_nav .container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}


.main_nav ul a {
  display: inline-block;
  padding: 0.5rem 0.25rem; /* permet d'augmenter la zone de réaction pour le clic-utilisateur */
  font-size: 1rem;
  color: #ffffff;
}


.logo_navbar a.logo_header {
  margin-left: 0px;
}


.main_nav ul a.active, .main_nav ul a:hover { /* état de bouton actif de la page puis au survol */
  border-bottom: 4px solid #EB1C36; 
}


.logo_navbar a.logo_header:hover {
  border-bottom: 0;
}


.main_nav .logo_navbar { /* je donne une dimension à ma div pour accueillir le logo en .svg */
  width: 150px;
  height: 79px;
}


.main_nav .logo_navbar a {
  padding: 0;
}


.fas fa-home {  /* import de l'icone "home" depuis site front awsome */
  color: #ffffff;
}



/* HEADER ============================================================================================================================ */

/* slider (index) ---------------------------------------------------------------------------------------------*/

.slide {
  position: relative;
}


.slide_img img { 
  width: 100%; /* on demande à l'image de s'étendre dans sa boite */
} 


.slide_title {
  position: absolute; /* je fais passer mon texte SUR l'image contenu dans le .slide */
  top: 250px;
  width: 100%;
}


.slide_title h1 {
  margin-bottom: 0;
  font-size: 2.2em;
  color: #EB1C36;
}


.slide_title .title {
  width: 50%;
  background: #ffffff;
  margin-left: auto;
  padding: 4.43rem 6.875rem;
}


/* resto (page resto)------------------------------------------------------------------------------------*/

.restos .container, .presentation_restos, .restos_title, .restos_txt {
  display: flex;
}


.restos .container {
  padding: 65px 0 65px 10px;
}


.restos .restos_logo {
  width: 50px;
  height: 50px;
}


.restos h2 {
  margin: 0;
  margin-top: auto;
  padding-left: 0.625rem;
  font-size: 2em;
}


.restos .restos_txt {
  flex-direction: column;
  flex-basis: 66.66%;
}


.restos .restos_txt p:nth-of-type(1) {
  padding-right: 160px;
  font-style: italic;
}


.notation ul{
  display:flex;
  margin-top: 10px;
}


.notation ul li {
  margin-right: 5px;
}


.cercle {
  width: 15px;
  height: 15px;
  background-color:#EB1C36;
  border: 1px solid #340038;
  border-radius: 7.5px;
}


.second_nav {
  border-top: 2px solid #340038;
  border-bottom: 2px solid #340038;
}


.second_nav .container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}


.second_nav ul a {
  display: inline-block;
  padding: 0.5rem 0.25rem; /* permet d'augmenter la zone de réaction pour le clic-utilisateur */
  font-size: 1rem;
  font-weight: bold;
  color: #49841A;
}


/* MAIN ===================================================================================================================== */

/* section nos partenaires (index) ----------------------------------------------------------------------------- */ 

.partenaires {
  background: url(../images/bg_resto.jpg) no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 80px;
}


.partenaires .partenaires_list {
  display: flex;
  justify-content: space-between;
}


.partenaires .resto {
  display: flex;
  flex-direction: column;
}


.partenaires .logo_cRoll {
  background-color: #ffffff;
}


.partenaires .logo_cRoll img {
  width: 310px;
  height: 310px;
}


.partenaires .logo { /* je donne une dimension aux div qui accueillent les logo en .svg */
  width: 310px;
  height: 310px;
}


.partenaires .txt {
  flex-grow: 1;
  background-color: #ffffff80;
  width: 310px;
  padding: 10px;
  color: #340038;
  font-size: 0.875em;
}


.partenaires .txt a {
  text-transform: uppercase;
  color: #AB1529;
  font-weight: bold;
  font-size: 1.125em;
}


.partenaires .txt p:nth-of-type(1) {
  margin-top: 0;
  font-weight: bold;
}



/* Procédure de commande (index)------------------------------------------------------------------------------ */

.process {
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
  border-bottom: 5px solid #340038;
}


.etape {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.etape_process {
  display: flex;
}


.etape img { /* je donne une dimension aux div qui accueillent les icones de process */
  width: 80px;
  height: 80px;
}


.etape p {
  font-weight: bold;
  color: #49841A;
  padding: 0.5rem;
  text-align: center;
}


.etape p:nth-of-type(1) {
  margin-top: 25px;
  margin-bottom:0;
  padding-bottom:0;
  font-size: 3em;
}


.etape p:nth-of-type(2) {
  margin-top:0;
  font-size: 1.125em;
}


.etape p:nth-of-type(3) {
  font-size: 1em;
  color: #340038;
}
  

.process h2 {
  font-size: 3.5em;
  color: #EB1C36;
  margin-top: 60px;
  margin-bottom: 0;
}

.process .note {
  margin-top: 0;
  font-style: italic;
  color:#340038;
}


/* section présentation (index)---------------------------------------------------------------------------------- */

.presentation {
  padding-top: 60px;
  padding-bottom: 80px;
}


.presentation article {
  display:flex;
  border-bottom: 2px solid #340038;
  margin-top: 60px;
}


.presentation article img {
  width: 33.33%;
}


.presentation article p , .presentation article h3 {
  padding: 1.875rem 1.875rem 0 1.875rem;
  color: #340038;
  margin: 0;
}


.presentation article p:nth-of-type(2) {
  padding-top: 0;
}


.presentation h3 span {
  text-transform: initial;
}


.presentation .valeur .color {
  color: #AB1529;
}


.presentation .valeur .italic {
  font-size: 1.125em;
  font-style: italic;
  font-weight: bold;
}


/* section temoignages (index)--------------------------------------------------------------------------------- */

.temoignages {
  background-color: #E9D8BE;
  padding-top: 60px;
  padding-bottom: 120px;
}


.temoignages h1 {
  margin-bottom: 75px;
}


.temoignages .temoignages_article {
  display: flex;
}


.temoignages blockquote {
  flex-basis: 33.33%;
  margin: 0;
  color: #340038;
}


.temoignages_article p {
  margin-top: 0;
  padding: 0.875rem;
}


.temoignages cite {
  font-style: italic;
  font-weight: bold;
}


.icone_bulle { /* je donne une dimension à mes div qui accueillent les icones */
  width: 40px;
  height: 40px;
  background-image: url(../images/icone_bulle.svg);
  margin: 0 auto;
}


/* menus (page resto) -------------------------------------------------------------------------------------- */

.menus {
  background: url(../images/bg_resto.jpg) no-repeat;
  background-size: cover;
  padding-top: 67px;
  padding-bottom: 150px;
}


.menus h1 {
  text-transform: uppercase;
  font-size: 2.5em;
}

.menus .menus_list {
  display: flex;
  justify-content: space-between;
}


.menus .list {
  display: flex;
  flex-direction: column;
  flex-basis: 230px;
}


.list .txt {
  flex-grow: 1;
  background-color: #ffffff80;
  display: flex;
  flex-direction: column;
}


.list h4 {
  margin-top: 5px;
  margin-bottom: 0;
}


.menus h4, .list .txt p:nth-of-type(2) {
  text-transform: uppercase;
  font-weight: bold;
  color: #AB1529;
}


.list .txt p:nth-of-type(1) {
  font-size: 0.75em;
  font-style: italic;
  padding: 0.5rem;
}


.list .txt p:nth-of-type(2) {
  margin-bottom: 0;
  margin-top: auto;
}


/* Entrées et accompagnements (page resto)------------------------------------------------------------------------------ */

.accompagnements {
  padding-top: 60px;
}


.desserts, .boissons {
  padding-top: 150px;
}


.bloc_titre {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #340038;
}

.bloc_titre h1 {
  margin-bottom: 0;
  margin: 0 auto;
}


.bloc_txt, .plat {
  display: flex;
}


.bloc_txt {
  flex-direction: column;
  border-bottom: 1px solid #340038;
}


.bloc_txt p {
  color: #49841A;
  font-style: italic;
}


.plat {
  margin-top: 60px;
}


.plat p {
  margin-bottom:0;
  font-weight: bold;
  font-size: 1.125em;
  color: #340038;
  
}


.plat p:nth-of-type(2){
  margin-left: auto;
  color: #AB1529
}


/* affichage image au survol du texte (ici nom du dessert) */
/* .plat a.foc span, .plat a.tir span { 
  display: none; 
}
 

.plat a.foc:hover span, .plat a.tir:hover span {
  display: block; 
  margin-top: 10px;
}


.plat a span img {
  width: 96px;
  height: 128px;
  box-shadow: 2px 2px 5px #818181;
} */


/* FOOTER =========================================================================================================================== */

.page_footer {
  background-color: #340038;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.page_footer .container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 0.625em;
}


.page_footer a {
  color: #ffffff;
}


.footer_logo {
  display: flex;
  align-items: flex-end;
}


.logo_txt {
  padding-left: 0.625em;
}


.logo_txt p:nth-of-type(1) {
  margin-bottom: 0.075rem;
}

.logo_txt p:nth-of-type(2) {
  font-size: 1.2em;
  margin-top: 0.075rem;
  margin-bottom: 0.075rem;
}


.footer_nav {
  display: flex;
}


.page_footer .container p{
  margin-bottom: 0.075rem;
  margin-top: auto;
  color: #ffffff;
}


.footer_nav ul {
  display: flex;
  justify-content: space-between;
}


.footer_nav ul a {
  font-size: 0;
  color: #340038;
}

.footer_nav ul i{
  font-size: 2.5rem;
  color: #ffffff;
  margin-left: 2rem;
}
